{% extends 'appointments/customer/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Join Meeting Room</h1>
                    </div>

                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-6 mb-4">
                            <a href="https://videocall.agora.io/" target="_blank">
                                <div class="card btn btn-outline-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-md mr-2">
                                                <div class="text-xxl-center font-weight-bold text-uppercase mb-1"
                                                     style="margin-top: 5px ;font-size: 25px;">
                                                    Join Meeting Room
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-video fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-l font-weight-bold text-primary text-uppercase mb-1">
                                                Total Appointments Made
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_app }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-l font-weight-bold text-success text-uppercase mb-1">
                                                Total Approved Appointments
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_approved_app }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-l font-weight-bold text-warning text-uppercase mb-1">
                                                Total Pending Appointments
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_pending_app }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row: Pending Appointments -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Upcoming Appointments</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Engineer</th>
                                                <th>Service Field</th>
                                                <th>Appointment Date/Time</th>
                                                <th>Description</th>
                                                <th>Room Name</th>
                                                <th>Room Password</th>
                                                <th>Approval</th>
                                                <th>Details</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for a in app_details %}
                                                <tr>
                                                    <td>{{ a.0 }}</td>
                                                    <td>{{ a.1 }} {{ a.2 }}</td>
                                                    <td>{{ a.3 }}</td>
                                                    <td>{{ a.4 }} / {{ a.5 }} </td>
                                                    <td>{{ a.6 }}</td>
                                                <td>{{ a.7 }}</td>
                                                    <td>{{ a.1 }}</td>
                                                                                                    {% if a.8 is True %}
                                                        <td style="background-color: lightgreen; font-weight: bold">
                                                            Approved
                                                        </td>
                                                    {% elif  a.8 is False %}
                                                        <td style="background-color: lightyellow">Pending</td>
                                                    {% endif %}
                                                                                                    <td class="text-center"><a class="btn btn-outline-primary"
                                                                               href="{% url 'view_app_details_cust.html' a.0 %}">Details</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <a href="{% url 'view_all_app_cust.html' %}">
                            <button type="button" class="btn btn-primary">View All Appointments</button>
                        </a>
                    </div>


                    <!-- End of Main Content -->
                    <div id="divider-space-50"></div>
                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Trisome Technical Services & Supply Pte Ltd 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

        </div>
    </div>
    </body>
    </html>

{% endblock %}