{% extends 'customer/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 text-center">Your Profile</h1>
                    <div class="main-panel">
                        <div class="main-content">
                            <!-- Header -->
                            <div class="header">
                                <div class="main-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                                                <div class="card card-profile">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-3 order-lg-2" style="display: contents;">
                                                            <div class="card-profile-image">
                                                                <a href="#">
                                                                    <img src="../../../media/{{ cust.profilePic }}"
                                                                         class="rounded-circle" style="width:120px; height:100px; margin-top: -30px;" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br><br><br><br>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="center">
                                                                <div class="profile-card-subtitle">
                                                                    <div class="text-center">
                                                                        <h3 class="text-primary" style="margin-top: 70px;">
                                                                            <b>{{ cust.first_name }} {{ cust.last_name }}</b>
                                                                        </h3>
                                                                        <!-- <br>
                                                                        <i class="fa fa-map-pin"></i> <br>
                                                                        {{ cust.company_address }}, {{ cust.postcode }}
                                                                        <br>
                                                                        {{ cust.city }}, {{ cust.country }} -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-8 order-xl-1">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="card">
                                                        <p>
                                                        <div class="card-body">
                                                            <div class="pl-lg-4">
                                                                <div class="row">
                                                                    <!-- <div class="col-lg-6">
                                                                        <div class="form-group focused">

                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-username">Username</label>
                                                                            <input readonly type="text"
                                                                                   id="input-username"
                                                                                   class="form-control form-control-alternative"
                                                                                   placeholder="{{ user.username }}">
                                                                        </div>
                                                                    </div> -->
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-email">Email
                                                                                    Address</label>
                                                                            <input readonly type="text"
                                                                                   id="email"
                                                                                   name="email"
                                                                                   class="form-control form-control-alternative"
                                                                                   value="{{ cust.email }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-first-name">First
                                                                                    Name</label>
                                                                            <input 
                                                                                    id="first_name"
                                                                                    name = "first_name"
                                                                                    class="form-control form-control-alternative"
                                                                                    value="{{ cust.first_name }}">
                                                                            <!-- {{ customer_update_form.first_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.first_name.errors }} --> 
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                for="input-last-name">Last
                                                                                Name</label>
                                                                            <input 
                                                                                id="last_name"
                                                                                name = "last_name"
                                                                                class=form-control form-control-alternative"
                                                                                value="{{ cust.last_name }}">
                                                                                <!-- {{ customer_update_form.last_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.last_name.errors }}  -->
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-preferred_loc">Location
                                                                                    </label>
                                                                    
                                                                            <select id="preferred_loc" name="preferred_loc">
                                                                                <option value="OT">--</option>
                                                                                {% if cust.preferred_loc == 'ON' %}
                                                                                    <option value="ON" selected>Online</option>
                                                                                {% else %}
                                                                                    <option value="ON">Online</option>
                                                                                {% endif %}

                                                                                {% if cust.preferred_loc == 'PU' %}
                                                                                    <option value="PU" selected>Public/Cafe</option>
                                                                                {% else %}
                                                                                    <option value="PU">Public/Cafe</option>
                                                                                {% endif %}

                                                                                {% if cust.preferred_loc == 'PI' %}
                                                                                    <option value="PI" selected>Private/Home</option>
                                                                                {% else %}
                                                                                    <option value="PI">Private/Home</option>
                                                                                {% endif %}
                                                                            
                                                                                {% if cust.preferred_loc == 'NS' %}
                                                                                    <option value="NS" selected>Not Specified</option>
                                                                                {% else %}
                                                                                    <option value="NS">Not Specified</option>
                                                                                {% endif %}
                                                                            </select>        
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                for="input-school">School
                                                                                </label>
                                                                            <input 
                                                                                id="school"
                                                                                name = "school"
                                                                                class=form-control form-control-alternative"
                                                                                value="{{ cust.school }}">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                for="input-pay">Payment Method
                                                                                </label>
                                                                            <select id="pay" name="pay">
                                                                                <option value="NA">--</option>
                                                                                {% if cust.pay == 'c' %}
                                                                                    <option value="c" selected>Cash</option>
                                                                                {% else %}
                                                                                    <option value="c">Cash</option>
                                                                                {% endif %}

                                                                                {% if cust.pay == 'paypal' %}
                                                                                    <option value="paypal" selected>Paypal</option>
                                                                                {% else %}
                                                                                    <option value="paypal">Paypal</option>
                                                                                {% endif %}

                                                                                {% if cust.pay == 'card' %}
                                                                                    <option value="card" selected>Card</option>
                                                                                {% else %}
                                                                                    <option value="card">Card</option>
                                                                                {% endif %}
                                                                            
                                                                                {% if cust.pay == 'rev' %}
                                                                                    <option value="rev" selected>Revolut</option>
                                                                                {% else %}
                                                                                    <option value="rev">Revolut</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-age">Year</label>
                                                                            <select id="year" name="year">
                                                                                <option value="OT">--</option>
                                                                                {% if cust.year == 'one' %}
                                                                                    <option value="one" selected>1</option>
                                                                                {% else %}
                                                                                    <option value="one">1</option>
                                                                                {% endif %}
                                                                                
                                                                                {% if cust.year == 'two' %}
                                                                                    <option value="two" selected>2</option>
                                                                                {% else %}
                                                                                    <option value="two">2</option>
                                                                                {% endif %}
                                                                                
                                                                                {% if cust.year == 'three' %}
                                                                                    <option value="three" selected>3</option>
                                                                                {% else %}
                                                                                    <option value="three">3</option>
                                                                                {% endif %}
                                                                                {% if cust.year == 'four' %}
                                                                                    <option value="four" selected>4</option>
                                                                                {% else %}
                                                                                    <option value="four">4</option>
                                                                                {% endif %}
                                                                                {% if cust.year == 'five' %}
                                                                                    <option value="five" selected>5</option>
                                                                                {% else %}
                                                                                    <option value="five">5</option>
                                                                                {% endif %}

                                                                                {% if cust.year == 'six' %}
                                                                                    <option value="six" selected>6</option>
                                                                                {% else %}
                                                                                    <option value="six">6</option>
                                                                                {% endif %}

                                                                                {% if cust.year == 'six_p' %}
                                                                                    <option value="six_p" selected>6+</option>
                                                                                {% else %}
                                                                                    <option value="six_p">6+</option>
                                                                                {% endif %}
                                                                            </select>
                                                                            <!--<input readonly type="text"
                                                                                   id="input-username"
                                                                                   class="form-control form-control-alternative"
                                                                                   placeholder="{{ age }}"> -->
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-date">Date of
                                                                                Birth</label>
                                                                            {{ customer_update_form.dob|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.dob.errors }}
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <hr class="my-1">
                                                            <br>
                                                            <div class="pl-lg-4">
                                                                <!--<div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-address">Company
                                                                                Name</label>
                                                                            {{ customer_update_form.company_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.company_name.errors }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-address">Company
                                                                                Address</label>
                                                                            {{ customer_update_form.company_address|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.company_address.errors }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                     <div class="col-lg-4">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-city">City</label>
                                                                            {{ customer_update_form.city|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.city.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-country">Country</label>
                                                                            {{ customer_update_form.country|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.country.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-postalcode">Postcode</label>
                                                                            {{ customer_update_form.postcode|add_class:"form-control form-control-alternative" }}
                                                                            {{ customer_update_form.postcode.errors }}
                                                                        </div>
                                                                    </div> -->
                                                                    <!-- Profile Picture-->
                                                                    <!-- <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-image">Profile
                                                                                Picture</label>
                                                                            {{ customer_update_form.image|add_class:"form-control form-control-alternative" }}
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p>
                                                        <div class="form-group text-center">
                                                            <button class="btn btn-primary" type="submit">
                                                                Update
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!--<div id="divider-space-50"></div>
            Footer 
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Trisome Technical Services & Supply Pte Ltd 2022</span>
                    </div>
                </div>
            </footer> 
            End of Footer 

        </div> -->
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    </body>
    </html>

{% endblock %}