{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
label {
    display: block;
    font: 1 rem 'Fira Sans', sans-serif;
}


</script>
<div class="page" style="background-color : #aab2b9">
<hr style="height : 300px">
<center>
<form method="post">
    
    <label for="signup-pref-loc" style="color : white">Preffered location</label>
    <p>
    <select id="preffered_loc" name="preffered_loc" style="width : 80%; margin-right: 50px; margin-left: 100px;">
        <option value="OT">-----------</option>
        <option value="ON">Online/Zoom</option>
        <option value="PI">Private/Home</option>
        <option value="PU">Public/Cafe</option>
    </select>
    <p>
    <label for="signup-pref-pay" style="color : white">Preffered Payment Method</label>
    <p>
    <select id="pay" name="pay" style="width : 80%; margin-right: 50px; margin-left: 100px;">
        <option value="NA">-------</option>
        <option value="c">Cash</option>
        <option value="paypal">Czech Bank Instant</option>
        <option value="card">Payment</option>
        <option value="rev">Revolut</option>
    </select>
    <p>
    <label style="color : white">Description</label>
    <p>
    <textarea type="text" style="width : 80%; margin-right: 50px; margin-left: 100px;"></textarea>
    <p>
    <label style="color : white">Start Time</label>
    <p>
    <input type="time" id="appt" name="appt"min="09:00" max="18:00"required>
    <p>
    <label style="color : white">Duration</label>
    <p>
    <input type="number" required>
    <p>
    <button type="submit">Submit</button>
</form>
</center>
</div>
{% endblock content %}

