{% extends "base.html" %}

{% load static %}

{% block content %}



  <body>
    <div class="page">
      <section class="section section-intro context-dark" style="background-color: #464d57;">

        <div class="intro-bg" style="background:url('{% static 'images/background-doctor-phone.jpg' %}') no-repeat center center; background-size:cover;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">About Me</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- About page about section-->
      <section class="section section-md">
        <div class="container">
          <div class="row row-40 justify-content-center">
            
            <div class="col-lg-6 col-sm-10 col-12">
              <div class="block-decorate-img wow fadeInLeft" data-wow-delay=".2s"><img src="{% static 'images/dr.stelios.theodorou_profile01.jpg' %}" alt="" width="570" height="700"/>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="offset-top-45 offset-lg-right-45">
                <div class="section-name wow fadeInRight" data-wow-delay=".2s" style="padding-left: 2rem">About me</div>
                <h3 class="wow fadeInLeft text-capitalize" data-wow-delay=".3s" style="padding-left: 2rem">A Few Words<span class="text-primary"> about me</span></h3>
                <div class="read-more-container" style="display: flex flex-direction: column gap: 1rem">
                  <div class="container" style="padding: 2rem; border-radius: 2px; line-height: 1.4rem; ">
                    <p class="font-weight-bold text-gray-dark wow fadeInUp" data-wow-delay=".4s">
                      MUDr. Stelios Theodorou obtained his General Medicine degree from the First Faculty of Medicine, Charles University Prague in 2022, where he excelled. Throughout his years he demonstrated special interest in Endocrinology Specialty and Medical Student Education and Well Being. He observed Endocrinology in NHS Plymouth University Hospitals and Endocrinology Outpatient clinics in the Faculty Polyclinic of the General University Hospital in Prague. He served as a teaching assistant for Anatomy and Physiology in his University as well as actively participated in the Student Association of his Medical Faculty as a Student Guide and Vice President of Activities and Media.
                      <span class="read-more-text font-weight-bold text-gray-dark" style="white-space: pre-line; display: none;">
                        Prior to that, he graduated from American Academy Larnaca in 2013. There he followed the GCSE and GCE curriculum for subjects like Biology, Chemistry, Physics, Mathematics and more. After high school, he graduated from Artillery Officer University in 2013 in Greece and served as a ranking officer between 2013 and 2015 in Cyprus National Guard. For his medical experience he attended various extracurricular internships, attended various medical seminars and published various research papers.
                      </span>
                    </p>
                    <a class="read-more-btn button-width-190 button-primary button-circle button-lg button offset-top-30" style="color: #ffffff">Read More</a>
                    <!-- <span class="read-more-btn font-weight-bold wow fadeIn" data-wow-delay=".7s" style="color: #0984e3; cursor: pointer">Read More...</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our team-->
      <section class="section section-md">
        <div class="container" style="justify-content: center; display: flex; margin-top: -9rem;">
          <div class="child" style="text-align: center">
              <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="dr-stelios-theodorou" data-version="v1">
                <a class="badge-base__link LI-simple-link" href="https://cy.linkedin.com/in/dr-stelios-theodorou?trk=profile-badge" target="_blank">MUDr. Stelios Theodorou (MD.)</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Cta section-->
      <section class="section section-md" style="background:url('{% static 'images/bg-image-4-1700x394.jpg' %}') no-repeat; background-size: cover;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-12 text-center"><span class="text-white d-block cta-big-text font-weight-medium">Still Have Some Questions Left?</span>
              <h2 class="text-white"><span class="d-block">Get in Touch with Us:<a class="underline-link" href="tel:#"> 855-456-7634</a></span></h2>
              <p class="text-white">Feel free to contact our team to learn more about the services provided by us and multiple offers for Your business!</p><a class="button-circle button-default-outline button button-lg button-width-210" href="contacts.html">contact us</a>
            </div>
          </div>
        </div>
      </section>

    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/read_more.js' %}"></script>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>


  </body>
{% endblock content %}