{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Stelios Theodorou</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300,400,700%7CPoppins:300,400,500,700,900">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "108178212003812");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div>
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
	          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <!-- <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div> -->
            <!--<div class="rd-navbar-aside-outer rd-navbar-collapse bg-gray-dark">
              <div class="rd-navbar-aside">
                <ul class="list-inline navbar-contact-list">
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left"><span class="icon text-middle fa-envelope"></span></div>
                      <div class="unit-body"><a href="mailto:dr.stelios.theodorou@gmail.com">dr.stelios.theodorou@gmail.com</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                    </div>
                  </li>
                </ul>
                <ul class="social-links">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-linkedin" href="https://www.linkedin.com/in/dr-stelios-theodorou" target="_blank"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="https://www.facebook.com/dr.stelios.theodorou" target="_blank"></a></li>
                </ul>
              </div>
            </div>-->
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <h3 style="color:white; font-weight: 500; font-size: 1.4rem"> MUDR. Stelios Theodorou </h3>
                  </div>
                  <hr>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap" style="font-size: 14px; font-weight: 500;">
                    <ul class="rd-navbar-nav">
                      {% if site == "Home" %}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:index' %}" style="font-weight: 500;">Home</a>
                        </li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:index' %}" style="font-weight: 500;">Home</a>
                        </li>
                      {% endif %}
                      {% if site == "Booking" %}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:booking' %}" style="font-weight: 500;">Booking</a>
                        </li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:booking' %}" style="font-weight: 500;">Booking</a>
                        </li>
                      {% endif %}
                      {% if site == "About" %}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:about' %}" style="font-weight: 500;">About Me</a>
                        </li>            
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:about' %}" style="font-weight: 500;">About Me</a>
                        </li>  
                      {% endif %}

                      {% if site == "TeachingExperience" %}
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:teaching' %}" style="font-weight: 500;">Teaching Experience</a>
                      </li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:teaching' %}" style="font-weight: 500;">Teaching Experience</a></li>
                      {% endif %}

                      {% if site == "Testimonials" %}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:testimonials' %}" style="font-weight: 500;">Testimonials</a></li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:testimonials' %}" style="font-weight: 500;">Testimonials</a></li>
                      {% endif %}
                      <!--
                      {% if site == "Gallery" %}
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="#" style="font-weight: 500;">Gallery</a>
                      </li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#" style="font-weight: 500;">Gallery</a></li>
                      {% endif %}
                      -->
                      <li class="rd-nav-item {% if site == 'Feedback' %} active {% endif %}"><a class="rd-nav-link" href="{% url 'bs:feedback' %}" style="font-weight: 500;">Feedback</a>
                      </li>

                      {% if site == "Contacts" %}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:contacts' %}" style="font-weight: 500;">Contact Me</a>
                        </li>
                      {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:contacts' %}" style="font-weight: 500;">Contact Me</a>
                        </li>
                      {% endif %}
                      
                      
                      {% if site == "Login"%}
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="{% url 'bs:login' %}" style="font-weight: 500;">Sign In | Sign Up</a>
                        </li>
                      {% else %}
                        {% if authenticated is True %}
                          <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:dashboard' %}" style="font-weight: 500;">{{ name }}'s Dashboard</a>  
                          <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:logout1' %}" style="font-weight: 500;">Logout</a>  
                          </li>
                        {% else %}
                        <li class="rd-nav-item"><a class="rd-nav-link" href="{% url 'bs:login' %}" style="font-weight: 500;">Sign In | Sign Up</a>
                        </li>
                        {% endif %}
                      {% endif %}
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      {% block content %}

      {% endblock content %}
      <!--Footer-->
      <footer class="section footer-classic section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-3 col-sm-8 wow fadeInUp">
              <P class="footer-classic-title">contact info</P>
              <div class="d-block offset-top-0"></div>
              <ul>
                <li><a class="fa fa-envelope btn-link" style="text-decoration: none;" href="mailto:dr.stelios.theodorou@gmail.com"> dr.stelios.theodorou@gmail.com</a></li>
                <li><a class="fa fa-linkedin btn-link" style="text-decoration: none;" href="https://www.linkedin.com/in/dr-stelios-theodorou" target="_blank">   Find me on LinkedIn</a></li>
                <li><a class="fa fa fa-youtube-play btn-link" style="text-decoration: none;"  href="https://www.youtube.com/channel/UCJc9eQKF3PQW0C9gL-YueeQ" target="_blank">   Find me on Youtube</a></li>
                <li><a class="fa fa-facebook btn-link" style="text-decoration: none;" href="https://www.facebook.com/dr.stelios.theodorou" target="_blank">   Find me on Facebook</a></li>
                <li><a class="fa fa-instagram btn-link" style="text-decoration: none;" href="https://www.instagram.com/dr.stelios.theodorou/" target="_blank">   Find me on Instagram</a></li>
                {% comment %} <li><a class="fa fa-whatsapp" href="https://wa.me/+35799138899" target="_blank"></a></li> {% endcomment %}
              </ul>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay=".3s">
              <P class="footer-classic-title">Quick Links</P>
              <ul class="footer-classic-nav-list">
                <li><a href="{% url 'bs:index' %}">Home</a></li>
                <li><a href="{% url 'bs:booking' %}">Booking</a></li>
                <li><a href="{% url 'bs:about' %}">About Me</a></li>
                <li><a href="{% url 'bs:contacts' %}">Contact Me</a></li>
                <li><a href="{% url 'bs:tc' %}">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container wow fadeInUp" data-wow-delay=".4s">
          {% comment %} <ul class="social-links">
            <li><a class="fa fa-envelope" href="mailto:dr.stelios.theodorou@gmail.com"></a></li>
            <li><a class="fa fa-linkedin" href="https://www.linkedin.com/in/dr-stelios-theodorou" target="_blank"></a></li>
            <li><a class="fa fa fa-youtube-play" href="https://www.youtube.com/channel/UCJc9eQKF3PQW0C9gL-YueeQ" target="_blank"></a></li>
            <li><a class="fa fa-facebook" href="https://www.facebook.com/dr.stelios.theodorou" target="_blank"></a></li>
            <li><a class="fa fa-instagram" href="https://www.instagram.com/dr.stelios.theodorou/" target="_blank"></a></li>
            <li><a class="fa fa-whatsapp" href="https://wa.me/+35799138899" target="_blank"></a></li>
          </ul> {% endcomment %}
          <div class="footer-classic-aside">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!--coded by Drel-->
  </body>
</html>
