{% extends "base.html" %}

{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/logo.css' %}">
</head>

<body>
  <div class="page">

    <section class="section section-intro context-dark" style="background-color: #464d57;">
      <div class="intro-bg" style="background:url({% static 'images/background-doctor-phone.jpg' %}) no-repeat center center; background-size:cover;"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 text-center">
            <h1 class="font-weight-bold wow fadeInLeft">Contacts</h1>
          </div>
        </div>
      </div>
    </section>
    <!--Mailform-->
    <section class="section section-md">
      <div class="container">
        <!--RD Mailform-->
        <div class="row justify-content-center">
          <div class="col-xl-6 col-md-8 col-12">
            <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap">
                <label class="form-label" for="contact-name">Name<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-phone">Phone<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @PhoneNumber">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-email">E-Mail<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
              </div>
              <div class="form-wrap">
                <label class="form-label label-textarea" for="contact-message">Message<span class="req-symbol">*</span></label>
                <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
              </div>
              <!--Google captcha-->
              <div class="form-wrap text-left form-validation-left">
                <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
              </div>
              <div class="form-button group-sm text-center text-lg-left">
                <button class="button button-primary" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--Contact information-->
    <section class="section">
      <div class="social-media" style="height: 50rem">
        <p style="text-align: center; color: black; font-size: 1.5rem;">Find me on social media</p>
        <div class="instagram" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 1rem; margin-left: -15px;">
          <a href=https://www.instagram.com/dr.stelios.theodorou target="_blank">
            <div class="insta-logo">
              <div class="insta_innerbox">
                <div class="insta-top-right-circle"></div>
                <div class="insta-center-circle"></div>
              </div>  
            </div>
          </a>
          <a class="instagram-link" href=https://www.instagram.com/dr.stelios.theodorou target="_blank" style="margin-left: 1rem; font-size: 1.4rem;">dr.stelios.theodorou</a>
        </div>
          
        <div class="facebook" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; height: 130px;">
          <a href=https://www.facebook.com/theodorou.stelios target="_blank">
            <div class="facebook-logo-outer" style="white-space: pre-line; margin-left: -24px;">
              <div class="facebook-logo">
                <div class="facebook-before"></div>
                <div class="facebook-after">
                </div>
              </div>
            </div>
          </a>
          <a class="facebook-link" href=https://www.facebook.com/theodorou.stelios target="_blank" style="margin-left: 30px; font-size: 1.4rem;">Stelios Theodorou</a>
        </div>
       
        <div class="youtube" style="height: 140px;">
          <a href=https://www.youtube.com/channel/UCJc9eQKF3PQW0C9gL-YueeQ target="_blank">
            <div class="youtube-logo">
              <div class="youtube-inner">
                <span class="youtube-arrow"></span>
              </div>
            </div>
          </a>
          <a class="youtube-link" href=https://www.youtube.com/channel/UCJc9eQKF3PQW0C9gL-YueeQ target="_blank" style="margin-left: 18px; font-size: 1.4rem;"> Dr Stelios Theodorou</a> 
        </div>

        <div class="linkedin">
          <a href=https://www.linkedin.com/in/dr-stelios-theodorou target="_blank">
            <div class="linkedin-container">
              <div class="linkedin-icon-bg">
                <div class="linkedin-i"></div>
                <div class="linkedin-n"></div>
              </div>
            </div>
          </a>
          <a class="linkedin-link" href=https://www.linkedin.com/in/dr-stelios-theodorou target="_blank" style="margin-left: 10px; font-size: 1.25rem;">MUDr. Stelios Theodorou</a> 
        </div>

        <div class="whatsapp" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; height: 130px;">
          <a href=https://wa.me/+35799138899 target="_blank">
            <div class="whatsapp-white" style="margin-left: -43px;">
              <div class="whatsapp-inner">
                <div class="whatsapp-before"></div>
                <div class="whatsapp-after"></div>
                <i class="fas fa-phone" style="left: 15px; top: -12px; position: absolute; font-size: 45px; color: #fff; transform: rotate(-10deg);"></i>
              </div>
            </div>
          </a>
          <a class="whatsapp-link" href=https://wa.me/+35799138899 target="_blank" style="margin-left: 50px; font-size: 1.4rem;">+357 99138899</a> 
        </div>
      </div>
    </section>

  <div class="snackbars" id="form-output-global"></div>
</body>
{% endblock content %}