{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
  <div class="page">

    <section class="section section-intro context-dark" style="background-color: #464d57;">
      <div class="intro-bg" style="background:url({% static 'images/background-doctor-phone.jpg' %}) no-repeat center center; background-size:cover;"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 text-center">
            <h1 class="font-weight-bold wow fadeInLeft">Contacts</h1>
          </div>
        </div>
      </div>
    </section>
    <!--Mailform-->
    <section class="section section-md">
      <div class="container">
        <!--RD Mailform-->
        <div class="row justify-content-center">
          <div class="col-xl-6 col-md-8 col-12">
            <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap">
                <label class="form-label" for="contact-name">Name<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-phone">Phone<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Required @PhoneNumber">
              </div>
              <div class="form-wrap">
                <label class="form-label" for="contact-email">E-Mail<span class="req-symbol">*</span></label>
                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
              </div>
              <div class="form-wrap">
                <label class="form-label label-textarea" for="contact-message">Message<span class="req-symbol">*</span></label>
                <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
              </div>
              <!--Google captcha-->
              <div class="form-wrap text-left form-validation-left">
                <div class="recaptcha" id="captcha1" data-sitekey="6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt"></div>
              </div>
              <div class="form-button group-sm text-center text-lg-left">
                <button class="button button-primary" type="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--Contact information-->
    <section class="section">
      <div class="social-media" style="height: 50rem">
        <p style="text-align: center; color: black; font-size: 1.5rem;">Find me on social media</p>
        <div class="instagram" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 1rem;">
          <div class="insta-logo" style="width: 150px; height: 150px; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%); border-radius: 35px; display: grid; place-items: center;">
            <div class="innerbox" style="width: 120px; height: 120px; border: 10px solid #fff; border-radius: 32px; display: grid; place-items: center; position: relative;">
              <div class="top-right-circle" style="content: ''; 
                width: 10px; 
                height: 10px; 
                border: 2px solid #fff; 
                border-radius: 50%; 
                background: #fff; 
                position: absolute; 
                top: 8px; 
                right: 10px;">
              </div>
              <div class="center-circle" style="content: '';
                width: 65px; 
                height: 65px; 
                border: 10px solid #fff; 
                border-radius: 50%; 
                background: transparent; 
                position: absolute;">
              </div>
            </div>  
          </div>
          <a href=https://www.instagram.com/dr.stelios.theodorou target="_blank" style="margin-left: 1rem; font-size: 1.5rem; color: black;">dr.stelios.theodorou</a>
        </div>
          
        <div class="facebook" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
          <div class="facebook-logo-outer" style="white-space: pre-wrap">
            <div class="facebook-logo" style="background: #4661b0; width: 150px; height: 150px; border-radius: 20px; position: relative; overflow: hidden; border: 15px solid #4661b0; border-bottom: 0;">
              <div class="before" style="content:'';
                position: absolute;
                background: #4661b0;
                width: 80px;
                height: 150px;
                bottom: -25px;
                right: -30px;
                border: 20px solid #fff;
                border-radius: 30px;">
              </div>
              <div class="after" style="content: '';
                position: absolute;
                background: #fff;
                width: 60px;
                height: 20px;
                top: 55px;
                right: 9px;">
              </div>
            </div>
          </div>
          <a href=https://www.facebook.com/theodorou.stelios target="_blank" style="margin-left: 1rem; font-size: 1.5rem; color: black;">Stelios Theodorou</a>
        </div>
        
        <div class="whatsapp" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
          <div class="white" style="width: 80px; height: 80px; border-radius: 40px; background-color: #fff; box-shadow: 2px 2px 3px 2px rgba(0,0,0,.3);">
            <div class="inner" style="width: 70px; height: 70px; border-radius: 35px; background: #3AC371; position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);">
              <div class="before" style="content: '';
                top: 62px;
                left: -12px;
                border-width: 20px;
                border-style: solid;
                border-color: transparent #fff transparent transparent;
                position: absolute;
                transform: rotate(-60deg) rotateX(-55deg);">
              </div>
              <div class="after" style="content: '';
                top: 62px;
                left: -4px;
                border-width: 15px;
                border-style: solid;
                border-color: transparent #3AC371 transparent transparent;
                position: absolute;
                transform: rotate(-60deg) rotateX(-55deg);">
              </div>
              <i class="fas fa-phone" style="left: 15px; top: -12px; position: absolute; font-size: 45px; color: #fff; transform: rotate(-10deg);;"></i>
            </div>
          </div>
          <a href=https://www.facebook.com/theodorou.stelios target="_blank" style="margin-left: 1rem; font-size: 1.5rem; color: black;">Stelios theodorou</a> 
        </div>
       
          
          <!--email, linked in  add phone +357 99137282  etc. (Ta logos megala me color, oxi icons -->
      </div>
    </section>

  <div class="snackbars" id="form-output-global"></div>

</body>
{% endblock content %}