{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
    <div class="page">
      <section class="section section-intro context-dark" style="filter: brightness(100%) background; background-color: rgb(114, 156, 255);">

        <div class="intro-bg" style="background:url({% static 'images/background-doctor-phone.jpg' %}) no-repeat center center; background-size:cover;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">Tell your experience</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="section section-lg bg-default"> -->
        <div class="row justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScjPf-UoT3ozXVjU8ul0rrOTnWptxqAl7Cg8pIC3AwGblq2rg/viewform?embedded=true" width="640" height="4646" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
      <!-- </section> -->
    </div>
</body>
      {% endblock content %}
 

