{% extends "base.html" %}
{% load static %}
{% block content %}



<body style="background-color: black">
    <div class="page">
    <section class="section section-intro context-dark" style="background-color: #464d57;">
    <form method="post">
        {% csrf_token %}
        {{ signinform }}
        <input type="submit" value="Submit">
    </form>
    <p> Don't have an account? <a href="{% url 'bs:signup' %}">Create an account</a>.</p>
    </section>
    </div>
    
</body>
{% endblock content %}