{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
	<div class="page">
		<section class="forms-section">
			<div class="forms">
				<div class="form-wrapper is-active">
						<span class="underline">Reset Password</span>
					{% if valid is not True %}
						{{ mess }}
					{% else %}
						{% if post is True %}
							{{ Finished }}
						{% else %}
						<form class="form form-signup" method="post">
							
							{% csrf_token %}
							<fieldset>

								<div class="input-block">
									<label for="signup-password">Password</label>
									<input id="password" name = "password" type="password" required>
								</div>
								<div class="input-block">
									<label for="signup-password-confirm">Confirm password</label>
									<input id="password1" name="password1" type="password" required>
								</div>
								
							</fieldset>
							<button type="submit" class="btn-signup">Continue</button>
						</form>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</section>
	</div>
	<script src="{% static 'js/login.js' %}"></script>
</body>


{% endblock content %}