{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
	<div class="page">
		<section class="forms-section">
			<div class="forms">
				<div class="form-wrapper is-active">
						<span class="underline">Reset Password</span>
					<form class="form form-signup" method="post">
						{% csrf_token %}
						<fieldset>
							<legend>Please, enter your email, the token sent to your email inbox and your new password.</legend>
							<div class="input-block">
								  <label for="signup-email">E-mail</label>
								  <input id="email" name="email" type="email" required>
							</div>
                            <div class="input-block">
                                <label for="signup-email">Token</label>
                                <input id="token" name="token" type="text" required>
                          </div>
							<div class="input-block">
								<label for="signup-password">Password</label>
								<input id="newPassword" name = "newPassword" type="password" required>
							</div>
							<div class="input-block">
								  <label for="signup-password-confirm">Confirm password</label>
								  <input id="confirmPassword" name="confirmPassword" type="password" required>
							</div>
							
						</fieldset>
						<button type="submit" class="btn-signup">Continue</button>
					</form>
				</div>
			</div>
			{% if login is False %}
				{% for message in messages %}
					<a style="color: red">{{ message }}</a>
				{% endfor %}
			{% endif %}
			{% if login is True %}
				{% for message in messages %}
					<a style="color: red">{{ message }}</a>
				{% endfor %}
			{% endif %}
		</section>
	</div>
	<script src="{% static 'js/login.js' %}"></script>
</body>


{% endblock content %}