{% extends "base.html" %}

{% load static %}

{% block content %}
<body>
    <div class="page">
      <section class="section section-intro context-dark" style="background-color: #464d57;">

        <div class="intro-bg" style="background:url({% static 'images/background-doctor-phone.jpg' %}) no-repeat center center; background-size:cover;"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
              <h1 class="font-weight-bold wow fadeInLeft">Teaching Experience</h1>
            </div>
          </div>
        </div>
      </section>

      <h3>Since 2015 Stelios taught the following classes in association with Charles University and LF1 MEDSOC </h3>

      <section class="section section-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Jan 2021<br>Anatomy Dissections Teacher </h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Dissected, Demonstrated and Taught the anatomy of the body to first year students during their anatomy dissections </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Jan 2019 - Aug 2020<br>Physiology teaching Assistant</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Taught physiology weekly to the students in summer semester of 2019, winter semester of 2020 and summer semester 2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Mar 2019<br>HIV and AIDS</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Institute of Hygiene and Epidemiology of First Faculty of Medicine of Charles University</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Jan 2019 - Feb 2019<br>Microbiome and maturation of immune</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Institute of Hygiene and Epidemiology, First Faculty of Medicine Charles University</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/medsoc.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Dec 2018<br>Abdominal Wall and Umbilical Folds</h4> 
                            <ul class="list-marked">
                                <li>Associated with LF1 MEDSOC</li>
                                <li>Anatomy Winter Dissection workshops</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Nov 2018<br>Syphilis</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Institute of Immunology and Microbiology, First Faculty of Medicine Charles University</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/charles.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Jan 2018<br>Exocrine Pancreas Pathophysiology</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Institute of Pathological Physiology, First Faculty of Medicine Charles University</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/medsoc.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Apr 2017<br>Abdominal Aorta and its branches</h4> 
                            <ul class="list-marked">
                                <li>Associated with LF1 MEDSOC</li>
                                <li>Anatomy Summer Dissection workshops</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="{% static 'images/medsoc.png' %}" alt="" width="200" height="150">
                        </div>
                        <div class="col-md-6">
                            <h4>Nov 2015<br>Cleft Palate</h4> 
                            <ul class="list-marked">
                                <li>Associated with Charles University</li>
                                <li>Institute of Anatomy, First Faculty of Medicine Charles University</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% for experience in experiences%}
            <div class="row">
                <div class="col-lg-10 col-xl-8">
                    <div class="row row-30">
                        <div class="col-md-3"><img src="./media/{{ experience.association_pic }}" alt="" width="200" height="150">
                        </div>
                        {{ experience.association_pic.url }}
                        <div class="col-md-6">
                            <h4>{% if experience.start_date%}
                                    {{experience.start_date|date:"M, Y" }}
                                {% endif %}
                                {% if experience.end_date%}
                                 - {{experience.end_date|date:"M, Y" }}
                                {% endif %}<br>{{ experience.title }}</h4> 
                            <ul class="list-marked">
                                {% if experience.associated_with %}
                                    <li>Associated with {{ experience.associated_with }}</li>
                                {% endif %}
                                {% if experience.description %}
                                    <li>{{ experience.description }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}



        </div>
      </section>

    </div>



      

{% endblock content %}
