{% extends "customer/base.html" %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'static_appointments_schedule/css/style.css' %}">

  {% if week_num not in weeks %}
    <script>        
        alert('There are no appointments in the selected week.');
        history.go(-1);
    </script>
  {% endif %}
  <title>Schedule | Week {{ week_num }}</title>
</head>
<body>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <h1 class="text-xl">My Schedule</h1>
    <h3>{{ week_start|date }} - {{ week_end|date }}</h3>
    Week Number: 
    <select type="text" id="NextWeekNumber" style="width : 50px; background-color: hsl(199.7, 25.6%, 51%); color: white; border-radius: 9px;">
      {% for num in weeks %}
      <option value="{{ num }}" {% if num == week_num %} selected {% endif %}>{{num}}</option>
      {% endfor %}
    </select>
    <button onclick="window.location = '../' + document.getElementById('NextWeekNumber').value;" style="margin-top: 10px; background-color: hsl(199.7, 25.6%, 51%); color: white; border-radius: 16px;">Go</button>
  </header>
  <!-- <button> 👈 </button>
  <button> 👉 </button> -->
  {{ slot.0|date:'H:i' }}

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        {% for sl in slot %}
        <li><span>{{ sl|date:'H:i' }}</span></li>
        {% endfor %}
<!--         
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li> -->
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        {% for appointments in appointments_sorted %}
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>{{appointments.0}}</span></div>
  
          <ul>
            {% for app in appointments %}
              
              {% if forloop.counter0 != 0 %}
                  <li class="cd-schedule__event" style="height: auto;">
                    <a data-start="{{ app.0.start_dateTime|date:'H:i' }}" data-end="{{ app.0.end_dateTime|date:'H:i' }}" style="font-size: small;"
                      data-content="event-abs-circuit" data-event="event-{{app.1}}">
                      <em class="cd-schedule__name"> Appointment {{ app.1 }} </em>
                      <em class="cd-schedule__name" id="description">{{app.0.description}} </em>
                      <button onclick="window.location.href='../../../deleteBooking/{{app.0.start_dateTime|slugify}}';">Cancel</button>
                      <button onclick="window.location.href='../../../changeBooking/{{app.0.start_dateTime|slugify}}';">Change</button>
                    </a>  
                  </li>
            {% endif %}
            {% endfor %}
          </ul>
          
        </li>
        {% endfor %}

      </ul>
    </div>

  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info" style="opacity: 1;">
          <div class="cd-schedule-modal__content">
            <!-- <span class="cd-schedule-modal__date" style="color: black;"></span>

            <h3 class="cd-schedule-modal__description" style="color: black;"></h3>

            <h3 class="cd-schedule-modal__name" style="color: black;"></h3> -->

          </div>
        </div> 
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  <script src="{% static 'static_appointments_schedule/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{% static 'static_appointments_schedule/js/main.js' %}"></script>
</body>
</html>

{% endblock content %}